<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
        font-size: 24px;
        padding-bottom: 20px;
      }
      p {
        line-height: 1.6;
        color: #555;
        margin: 10px 0;
      }
      .footer {
        margin-top: 20px;
        font-size: 14px;
        color: #888;
      }
      .best {
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= name%>!</h1>
    <p>
      Thank you for registering an account with Tours Website. We invite you to
      log in and explore our offerings to find the options that best suit your
      preferences. Your journey awaits!
    </p>
    <p>
      If you need any help with booking your next tour, please don't hesitate to
      contact us through this email !
    </p>
    <p class="best">Best regard,</p>
    <p>Tours Website</p>
  </body>
</html>
