<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
</head>
<body>
  <h1>Error: <%= message %></h1> <!-- Change msg to message -->

  <% if (process.env.NODE_ENV === 'development') { %>
    <h2>Stack Trace:</h2>
    <pre><%= error.stack %></pre>
  <% } %>
</body>
</html>
